# Radiação script

In [1]:
import pandas as pd
import json

In [2]:
df_sujo = pd.read_csv("dataset_irradiacao.csv")

In [3]:
df_sujo

,codigo_estacao,data,hora,temp_inst,temp_max,temp_min,umid_inst,umid_max,umid_min,pto_orvalho_inst,pto_orvalho_max,pto_orvalho_min,pressao,pressao_max,pressao_min,vento_direcao,vento_vel,vento_rajada,radiacao,precipitacao
0,A001,24/10/2018,12,22.5,22.5,20.0,74,90,72,17.5,18.6,17.1,888.7,888.7,888.3,1.6,80,2.7,1142.000,0.0
1,A001,24/10/2018,10,18.8,19.0,18.1,93,94,93,17.7,17.9,17.1,887.8,887.8,887.5,1.6,102,2.6,132.100,0.2
2,A001,24/10/2018,6,18.3,18.3,18.0,91,92,89,16.8,16.8,16.5,886.6,886.8,886.6,1.3,181,4.7,-1.950,0.0
3,A001,24/10/2018,22,22.5,24.4,22.4,81,81,68,19.1,19.3,18.0,886.0,886.0,885.6,1.0,255,2.3,4.111,0.0
4,A001,24/10/2018,11,20.0,20.0,18.8,90,93,90,18.3,18.5,17.7,888.3,888.3,887.8,0.8,107,2.6,486.100,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8737,A001,23/10/2019,14,26.0,26.0,23.2,57,69,57,16.8,17.7,16.3,887.1,887.4,887.0,2.4,74,6.3,3089.000,0.0
8738,A001,23/10/2019,10,21.2,21.2,19.8,79,84,79,17.4,17.4,16.7,886.1,886.1,885.5,1.5,110,2.5,242.000,0.0
8739,A001,23/10/2019,13,23.2,23.5,22.0,69,76,68,17.1,17.6,16.9,887.4,887.5,887.3,1.8,123,4.4,1442.000,0.0
8740,A001,23/10/2019,21,20.4,20.5,20.3,85,90,85,17.8,18.6,17.8,885.0,885.0,884.1,3.7,343,6.8,110.600,0.0
8741,A001,23/10/2019,18,20.8,26.4,20.6,86,86,52,18.4,18.4,15.2,883.6,884.5,883.6,1.3,312,6.4,80.230,0.2

In [4]:
df = df_sujo[["data","hora","radiacao"]]

In [5]:
df

            data  hora  radiacao
0     24/10/2018    12  1142.000
1     24/10/2018    10   132.100
2     24/10/2018     6    -1.950
3     24/10/2018    22     4.111
4     24/10/2018    11   486.100
...          ...   ...       ...
8737  23/10/2019    14  3089.000
8738  23/10/2019    10   242.000
8739  23/10/2019    13  1442.000
8740  23/10/2019    21   110.600
8741  23/10/2019    18    80.230

[8742 rows x 3 columns]

In [6]:
dia_count = df["data"].unique()

In [7]:
dia_count

array(['24/10/2018', '25/10/2018', '26/10/2018', '27/10/2018',
       '28/10/2018', '29/10/2018', '30/10/2018', '31/10/2018',
       '01/11/2018', '02/11/2018', '03/11/2018', '04/11/2018',
       '05/11/2018', '06/11/2018', '07/11/2018', '08/11/2018',
       '09/11/2018', '10/11/2018', '11/11/2018', '12/11/2018',
       '13/11/2018', '14/11/2018', '15/11/2018', '16/11/2018',
       '17/11/2018', '18/11/2018', '19/11/2018', '20/11/2018',
       '21/11/2018', '22/11/2018', '23/11/2018', '24/11/2018',
       '25/11/2018', '26/11/2018', '27/11/2018', '28/11/2018',
       '29/11/2018', '30/11/2018', '01/12/2018', '02/12/2018',
       '03/12/2018', '04/12/2018', '05/12/2018', '06/12/2018',
       '07/12/2018', '08/12/2018', '09/12/2018', '10/12/2018',
       '11/12/2018', '12/12/2018', '13/12/2018', '14/12/2018',
       '15/12/2018', '16/12/2018', '17/12/2018', '18/12/2018',
       '19/12/2018', '20/12/2018', '21/12/2018', '22/12/2018',
       '23/12/2018', '24/12/2018', '25/12/2018', '26/12/2018',
       '27/12/2018', '28/12/2018', '29/12/2018', '30/12/2018',
       '31/12/2018', '01/01/2019', '02/01/2019', '03/01/2019',
       '04/01/2019', '05/01/2019', '06/01/2019', '07/01/2019',
       '08/01/2019', '09/01/2019', '10/01/2019', '11/01/2019',
       '12/01/2019', '13/01/2019', '14/01/2019', '15/01/2019',
       '16/01/2019', '17/01/2019', '18/01/2019', '19/01/2019',
       '20/01/2019', '21/01/2019', '22/01/2019', '23/01/2019',
       '24/01/2019', '25/01/2019', '26/01/2019', '27/01/2019',
       '28/01/2019', '29/01/2019', '30/01/2019', '31/01/2019',
       '01/02/2019', '02/02/2019', '03/02/2019', '04/02/2019',
       '05/02/2019', '06/02/2019', '07/02/2019', '08/02/2019',
       '09/02/2019', '10/02/2019', '11/02/2019', '12/02/2019',
       '13/02/2019', '14/02/2019', '15/02/2019', '16/02/2019',
       '17/02/2019', '18/02/2019', '19/02/2019', '20/02/2019',
       '21/02/2019', '22/02/2019', '23/02/2019', '24/02/2019',
       '25/02/2019', '26/02/2019', '27/02/2019', '28/02/2019',
       '01/03/2019', '02/03/2019', '03/03/2019', '04/03/2019',
       '05/03/2019', '06/03/2019', '07/03/2019', '08/03/2019',
       '09/03/2019', '10/03/2019', '11/03/2019', '12/03/2019',
       '13/03/2019', '14/03/2019', '15/03/2019', '16/03/2019',
       '17/03/2019', '18/03/2019', '19/03/2019', '20/03/2019',
       '21/03/2019', '22/03/2019', '23/03/2019', '24/03/2019',
       '25/03/2019', '26/03/2019', '27/03/2019', '28/03/2019',
       '29/03/2019', '30/03/2019', '31/03/2019', '01/04/2019',
       '02/04/2019', '03/04/2019', '04/04/2019', '05/04/2019',
       '06/04/2019', '07/04/2019', '08/04/2019', '09/04/2019',
       '10/04/2019', '11/04/2019', '12/04/2019', '13/04/2019',
       '14/04/2019', '15/04/2019', '16/04/2019', '17/04/2019',
       '18/04/2019', '19/04/2019', '20/04/2019', '21/04/2019',
       '22/04/2019', '23/04/2019', '24/04/2019', '25/04/2019',
       '26/04/2019', '27/04/2019', '28/04/2019', '29/04/2019',
       '30/04/2019', '01/05/2019', '02/05/2019', '03/05/2019',
       '04/05/2019', '05/05/2019', '06/05/2019', '07/05/2019',
       '08/05/2019', '09/05/2019', '10/05/2019', '11/05/2019',
       '12/05/2019', '13/05/2019', '14/05/2019', '15/05/2019',
       '16/05/2019', '17/05/2019', '18/05/2019', '19/05/2019',
       '20/05/2019', '21/05/2019', '22/05/2019', '23/05/2019',
       '24/05/2019', '25/05/2019', '26/05/2019', '27/05/2019',
       '28/05/2019', '29/05/2019', '30/05/2019', '31/05/2019',
       '01/06/2019', '02/06/2019', '03/06/2019', '04/06/2019',
       '05/06/2019', '06/06/2019', '07/06/2019', '08/06/2019',
       '09/06/2019', '10/06/2019', '11/06/2019', '12/06/2019',
       '13/06/2019', '14/06/2019', '15/06/2019', '16/06/2019',
       '17/06/2019', '18/06/2019', '19/06/2019', '20/06/2019',
       '21/06/2019', '22/06/2019', '23/06/2019', '24/06/2019',
       '25/06/2019', '26/06/2019', '27/06/2019', '28/06/2019',
       '29/06/2019', '30/06/2019', '01/07/2019', '02/07/2019',
       '03/07/2019', '04/07/2019', '05/07/2019', '06/07/2019',
       '07/07/2019', '08/07/2019', '09/07/2019', '10/07/2019',
       '11/07/2019', '12/07/2019', '13/07/2019', '14/07/2019',
       '15/07/2019', '16/07/2019', '17/07/2019', '18/07/2019',
       '19/07/2019', '20/07/2019', '21/07/2019', '22/07/2019',
       '23/07/2019', '24/07/2019', '25/07/2019', '26/07/2019',
       '27/07/2019', '28/07/2019', '29/07/2019', '30/07/2019',
       '31/07/2019', '01/08/2019', '02/08/2019', '03/08/2019',
       '04/08/2019', '05/08/2019', '06/08/2019', '07/08/2019',
       '08/08/2019', '09/08/2019', '10/08/2019', '11/08/2019',
       '12/08/2019', '13/08/2019', '14/08/2019', '15/08/2019',
       '16/08/2019', '17/08/2019', '18/08/2019', '19/08/2019',
       '20/08/2019', '21/08/2019', '22/08/2019', '23/08/2019',
       '24/08/2019', '25/08/2019', '26/08/2019', '27/08/2019',
       '28/08/2019', '29/08/2019', '30/08/2019', '31/08/2019',
       '01/09/2019', '02/09/2019', '03/09/2019', '04/09/2019',
       '05/09/2019', '06/09/2019', '07/09/2019', '08/09/2019',
       '09/09/2019', '10/09/2019', '11/09/2019', '12/09/2019',
       '13/09/2019', '14/09/2019', '15/09/2019', '16/09/2019',
       '17/09/2019', '18/09/2019', '19/09/2019', '20/09/2019',
       '21/09/2019', '22/09/2019', '23/09/2019', '24/09/2019',
       '25/09/2019', '26/09/2019', '27/09/2019', '28/09/2019',
       '29/09/2019', '30/09/2019', '01/10/2019', '02/10/2019',
       '03/10/2019', '04/10/2019', '05/10/2019', '06/10/2019',
       '07/10/2019', '08/10/2019', '09/10/2019', '10/10/2019',
       '11/10/2019', '12/10/2019', '13/10/2019', '14/10/2019',
       '15/10/2019', '16/10/2019', '17/10/2019', '18/10/2019',
       '19/10/2019', '20/10/2019', '21/10/2019', '22/10/2019',
       '23/10/2019'], dtype=object)

In [9]:
df_final = pd.DataFrame(columns=['data', 'irradiacao_media'])
data_dict = {}
data_dict["dia_radiacao"] = []

for dia in dia_count:
    df_temp=df[df["data"] == dia]
    soma_radiacao = 0
    
    for linha in df_temp.values:
        if linha[1] >= 11 and linha[1] <= 16:
            soma_radiacao += linha[2]
    media_radiacao = soma_radiacao/6
#     print(dia, media_radiacao)
#     df_final.append({'data':dia,'irradiacao_media':soma_radiacao/6},ignore_index=True)
    
    #Popula lista de dados
    data_dict["dia_radiacao"].append({
        "data":dia,
        "radiacao":media_radiacao
    })
    

print(data_dic)

{'dia_radiacao': []}

In [10]:
# Gera JSON
with open('data.json', 'w') as outfile:
    json.dump(data_dict, outfile)