# Radiação script

In [1]:
import pandas as pd

In [2]:
df_sujo = pd.read_csv("dataset_irradiacao.csv")

In [3]:
df_sujo

,codigo_estacao,data,hora,temp_inst,temp_max,temp_min,umid_inst,umid_max,umid_min,pto_orvalho_inst,pto_orvalho_max,pto_orvalho_min,pressao,pressao_max,pressao_min,vento_direcao,vento_vel,vento_rajada,radiacao,precipitacao
0,A001,24/10/2018,12,22.5,22.5,20.0,74,90,72,17.5,18.6,17.1,888.7,888.7,888.3,1.6,80,2.7,1142.000,0.0
1,A001,24/10/2018,10,18.8,19.0,18.1,93,94,93,17.7,17.9,17.1,887.8,887.8,887.5,1.6,102,2.6,132.100,0.2
2,A001,24/10/2018,6,18.3,18.3,18.0,91,92,89,16.8,16.8,16.5,886.6,886.8,886.6,1.3,181,4.7,-1.950,0.0
3,A001,24/10/2018,22,22.5,24.4,22.4,81,81,68,19.1,19.3,18.0,886.0,886.0,885.6,1.0,255,2.3,4.111,0.0
4,A001,24/10/2018,11,20.0,20.0,18.8,90,93,90,18.3,18.5,17.7,888.3,888.3,887.8,0.8,107,2.6,486.100,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8737,A001,23/10/2019,14,26.0,26.0,23.2,57,69,57,16.8,17.7,16.3,887.1,887.4,887.0,2.4,74,6.3,3089.000,0.0
8738,A001,23/10/2019,10,21.2,21.2,19.8,79,84,79,17.4,17.4,16.7,886.1,886.1,885.5,1.5,110,2.5,242.000,0.0
8739,A001,23/10/2019,13,23.2,23.5,22.0,69,76,68,17.1,17.6,16.9,887.4,887.5,887.3,1.8,123,4.4,1442.000,0.0
8740,A001,23/10/2019,21,20.4,20.5,20.3,85,90,85,17.8,18.6,17.8,885.0,885.0,884.1,3.7,343,6.8,110.600,0.0
8741,A001,23/10/2019,18,20.8,26.4,20.6,86,86,52,18.4,18.4,15.2,883.6,884.5,883.6,1.3,312,6.4,80.230,0.2

In [4]:
df = df_sujo[["data","hora","radiacao"]]

In [5]:
df

            data  hora  radiacao
0     24/10/2018    12  1142.000
1     24/10/2018    10   132.100
2     24/10/2018     6    -1.950
3     24/10/2018    22     4.111
4     24/10/2018    11   486.100
...          ...   ...       ...
8737  23/10/2019    14  3089.000
8738  23/10/2019    10   242.000
8739  23/10/2019    13  1442.000
8740  23/10/2019    21   110.600
8741  23/10/2019    18    80.230

[8742 rows x 3 columns]

In [6]:
dia_count = df["data"].unique()

In [7]:
dia_count

array(['24/10/2018', '25/10/2018', '26/10/2018', '27/10/2018',
       '28/10/2018', '29/10/2018', '30/10/2018', '31/10/2018',
       '01/11/2018', '02/11/2018', '03/11/2018', '04/11/2018',
       '05/11/2018', '06/11/2018', '07/11/2018', '08/11/2018',
       '09/11/2018', '10/11/2018', '11/11/2018', '12/11/2018',
       '13/11/2018', '14/11/2018', '15/11/2018', '16/11/2018',
       '17/11/2018', '18/11/2018', '19/11/2018', '20/11/2018',
       '21/11/2018', '22/11/2018', '23/11/2018', '24/11/2018',
       '25/11/2018', '26/11/2018', '27/11/2018', '28/11/2018',
       '29/11/2018', '30/11/2018', '01/12/2018', '02/12/2018',
       '03/12/2018', '04/12/2018', '05/12/2018', '06/12/2018',
       '07/12/2018', '08/12/2018', '09/12/2018', '10/12/2018',
       '11/12/2018', '12/12/2018', '13/12/2018', '14/12/2018',
       '15/12/2018', '16/12/2018', '17/12/2018', '18/12/2018',
       '19/12/2018', '20/12/2018', '21/12/2018', '22/12/2018',
       '23/12/2018', '24/12/2018', '25/12/2018', '26/12/2018',
       '27/12/2018', '28/12/2018', '29/12/2018', '30/12/2018',
       '31/12/2018', '01/01/2019', '02/01/2019', '03/01/2019',
       '04/01/2019', '05/01/2019', '06/01/2019', '07/01/2019',
       '08/01/2019', '09/01/2019', '10/01/2019', '11/01/2019',
       '12/01/2019', '13/01/2019', '14/01/2019', '15/01/2019',
       '16/01/2019', '17/01/2019', '18/01/2019', '19/01/2019',
       '20/01/2019', '21/01/2019', '22/01/2019', '23/01/2019',
       '24/01/2019', '25/01/2019', '26/01/2019', '27/01/2019',
       '28/01/2019', '29/01/2019', '30/01/2019', '31/01/2019',
       '01/02/2019', '02/02/2019', '03/02/2019', '04/02/2019',
       '05/02/2019', '06/02/2019', '07/02/2019', '08/02/2019',
       '09/02/2019', '10/02/2019', '11/02/2019', '12/02/2019',
       '13/02/2019', '14/02/2019', '15/02/2019', '16/02/2019',
       '17/02/2019', '18/02/2019', '19/02/2019', '20/02/2019',
       '21/02/2019', '22/02/2019', '23/02/2019', '24/02/2019',
       '25/02/2019', '26/02/2019', '27/02/2019', '28/02/2019',
       '01/03/2019', '02/03/2019', '03/03/2019', '04/03/2019',
       '05/03/2019', '06/03/2019', '07/03/2019', '08/03/2019',
       '09/03/2019', '10/03/2019', '11/03/2019', '12/03/2019',
       '13/03/2019', '14/03/2019', '15/03/2019', '16/03/2019',
       '17/03/2019', '18/03/2019', '19/03/2019', '20/03/2019',
       '21/03/2019', '22/03/2019', '23/03/2019', '24/03/2019',
       '25/03/2019', '26/03/2019', '27/03/2019', '28/03/2019',
       '29/03/2019', '30/03/2019', '31/03/2019', '01/04/2019',
       '02/04/2019', '03/04/2019', '04/04/2019', '05/04/2019',
       '06/04/2019', '07/04/2019', '08/04/2019', '09/04/2019',
       '10/04/2019', '11/04/2019', '12/04/2019', '13/04/2019',
       '14/04/2019', '15/04/2019', '16/04/2019', '17/04/2019',
       '18/04/2019', '19/04/2019', '20/04/2019', '21/04/2019',
       '22/04/2019', '23/04/2019', '24/04/2019', '25/04/2019',
       '26/04/2019', '27/04/2019', '28/04/2019', '29/04/2019',
       '30/04/2019', '01/05/2019', '02/05/2019', '03/05/2019',
       '04/05/2019', '05/05/2019', '06/05/2019', '07/05/2019',
       '08/05/2019', '09/05/2019', '10/05/2019', '11/05/2019',
       '12/05/2019', '13/05/2019', '14/05/2019', '15/05/2019',
       '16/05/2019', '17/05/2019', '18/05/2019', '19/05/2019',
       '20/05/2019', '21/05/2019', '22/05/2019', '23/05/2019',
       '24/05/2019', '25/05/2019', '26/05/2019', '27/05/2019',
       '28/05/2019', '29/05/2019', '30/05/2019', '31/05/2019',
       '01/06/2019', '02/06/2019', '03/06/2019', '04/06/2019',
       '05/06/2019', '06/06/2019', '07/06/2019', '08/06/2019',
       '09/06/2019', '10/06/2019', '11/06/2019', '12/06/2019',
       '13/06/2019', '14/06/2019', '15/06/2019', '16/06/2019',
       '17/06/2019', '18/06/2019', '19/06/2019', '20/06/2019',
       '21/06/2019', '22/06/2019', '23/06/2019', '24/06/2019',
       '25/06/2019', '26/06/2019', '27/06/2019', '28/06/2019',
       '29/06/2019', '30/06/2019', '01/07/2019', '02/07/2019',
       '03/07/2019', '04/07/2019', '05/07/2019', '06/07/2019',
       '07/07/2019', '08/07/2019', '09/07/2019', '10/07/2019',
       '11/07/2019', '12/07/2019', '13/07/2019', '14/07/2019',
       '15/07/2019', '16/07/2019', '17/07/2019', '18/07/2019',
       '19/07/2019', '20/07/2019', '21/07/2019', '22/07/2019',
       '23/07/2019', '24/07/2019', '25/07/2019', '26/07/2019',
       '27/07/2019', '28/07/2019', '29/07/2019', '30/07/2019',
       '31/07/2019', '01/08/2019', '02/08/2019', '03/08/2019',
       '04/08/2019', '05/08/2019', '06/08/2019', '07/08/2019',
       '08/08/2019', '09/08/2019', '10/08/2019', '11/08/2019',
       '12/08/2019', '13/08/2019', '14/08/2019', '15/08/2019',
       '16/08/2019', '17/08/2019', '18/08/2019', '19/08/2019',
       '20/08/2019', '21/08/2019', '22/08/2019', '23/08/2019',
       '24/08/2019', '25/08/2019', '26/08/2019', '27/08/2019',
       '28/08/2019', '29/08/2019', '30/08/2019', '31/08/2019',
       '01/09/2019', '02/09/2019', '03/09/2019', '04/09/2019',
       '05/09/2019', '06/09/2019', '07/09/2019', '08/09/2019',
       '09/09/2019', '10/09/2019', '11/09/2019', '12/09/2019',
       '13/09/2019', '14/09/2019', '15/09/2019', '16/09/2019',
       '17/09/2019', '18/09/2019', '19/09/2019', '20/09/2019',
       '21/09/2019', '22/09/2019', '23/09/2019', '24/09/2019',
       '25/09/2019', '26/09/2019', '27/09/2019', '28/09/2019',
       '29/09/2019', '30/09/2019', '01/10/2019', '02/10/2019',
       '03/10/2019', '04/10/2019', '05/10/2019', '06/10/2019',
       '07/10/2019', '08/10/2019', '09/10/2019', '10/10/2019',
       '11/10/2019', '12/10/2019', '13/10/2019', '14/10/2019',
       '15/10/2019', '16/10/2019', '17/10/2019', '18/10/2019',
       '19/10/2019', '20/10/2019', '21/10/2019', '22/10/2019',
       '23/10/2019'], dtype=object)

In [32]:
df_final = pd.DataFrame(columns=['data', 'irradiacao_media'])

for dia in dia_count:
    df_temp=df[df["data"] == dia]
    soma_radiacao = 0
    
    for linha in df_temp.values:
        if linha[1] >= 11 and linha[1] <= 16:
            soma_radiacao += linha[2]
    print(dia, soma_radiacao/6)
    df_final.append({'data':dia,'irradiacao_media':soma_radiacao/6},ignore_index=True)

24/10/2018 1739.1833333333334
25/10/2018 1853.5166666666667
26/10/2018 2369.3333333333335
27/10/2018 2372.1666666666665
28/10/2018 2430.5
29/10/2018 1976.3500000000001
30/10/2018 2319.616666666667
31/10/2018 1927.45
01/11/2018 1731.25
02/11/2018 1543.2333333333333
03/11/2018 2393.233333333333
04/11/2018 1961.2166666666665
05/11/2018 2028.5666666666666
06/11/2018 799.0833333333334
07/11/2018 1289.1166666666666
08/11/2018 1090.2666666666667
09/11/2018 883.5
10/11/2018 465.56666666666666
11/11/2018 2232.7166666666667
12/11/2018 2574.3333333333335
13/11/2018 2158.9166666666665
14/11/2018 2361.1666666666665
15/11/2018 2478.1666666666665
16/11/2018 1176.4666666666667
17/11/2018 1947.4333333333334
18/11/2018 2309.0333333333333
19/11/2018 1852.0666666666666
20/11/2018 948.6833333333334
21/11/2018 1843.5666666666666
22/11/2018 1394.0166666666667
23/11/2018 2392.1666666666665
24/11/2018 768.46
25/11/2018 363.98333333333335
26/11/2018 1175.8500000000001
27/11/2018 1917.45
28/11/2018 2531.5
29/11/2018 2756.3333333333335
30/11/2018 1852.3333333333333
01/12/2018 964.35
02/12/2018 1546.3999999999999
03/12/2018 851.1833333333333
04/12/2018 1528.3333333333333
05/12/2018 1379.2
06/12/2018 2356.9
07/12/2018 2203.983333333333
08/12/2018 1027.7166666666667
09/12/2018 1620.1833333333334
10/12/2018 1261.3833333333334
11/12/2018 2672.3333333333335
12/12/2018 2577.3333333333335
13/12/2018 2330.6666666666665
14/12/2018 2094.6666666666665
15/12/2018 2636.3333333333335
16/12/2018 2653.1666666666665
17/12/2018 2859.5
18/12/2018 2992.3333333333335
19/12/2018 2893.6666666666665
20/12/2018 2699.8333333333335
21/12/2018 2767.1666666666665
22/12/2018 2749.0
23/12/2018 2685.6666666666665
24/12/2018 1587.2666666666667
25/12/2018 1863.2666666666667
26/12/2018 1338.5333333333333
27/12/2018 1946.6166666666668
28/12/2018 1045.3833333333334
29/12/2018 1982.0333333333335
30/12/2018 2271.0
31/12/2018 1314.0166666666667
01/01/2019 1628.3500000000001
02/01/2019 2664.1666666666665
03/01/2019 2796.1666666666665
04/01/2019 2246.0
05/01/2019 1496.3999999999999
06/01/2019 2241.5333333333333
07/01/2019 2748.3333333333335
08/01/2019 2509.0
09/01/2019 2567.8333333333335
10/01/2019 2471.1666666666665
11/01/2019 755.0
12/01/2019 2390.733333333333
13/01/2019 2546.4166666666665
14/01/2019 2678.3333333333335
15/01/2019 2731.1666666666665
16/01/2019 2795.0
17/01/2019 2195.4166666666665
18/01/2019 2087.3333333333335
19/01/2019 2729.1666666666665
20/01/2019 2700.0
21/01/2019 2850.0
22/01/2019 2711.5333333333333
23/01/2019 2702.133333333333
24/01/2019 2499.1833333333334
25/01/2019 1539.2666666666664
26/01/2019 1347.45
27/01/2019 1598.8166666666666
28/01/2019 2199.65
29/01/2019 2611.483333333333
30/01/2019 2784.816666666667
31/01/2019 2809.616666666667
01/02/2019 2776.7333333333336
02/02/2019 2641.9
03/02/2019 2718.483333333333
04/02/2019 2591.766666666667
05/02/2019 2498.2999999999997
06/02/2019 1155.35
07/02/2019 1698.5333333333335
08/02/2019 1570.5166666666667
09/02/2019 2485.5499999999997
10/02/2019 1018.0333333333333
11/02/2019 2121.6666666666665
12/02/2019 2008.9166666666667
13/02/2019 1728.6666666666667
14/02/2019 2206.0333333333333
15/02/2019 2244.75
16/02/2019 1446.7833333333335
17/02/2019 802.2166666666667
18/02/2019 697.6833333333333
19/02/2019 1560.6666666666667
20/02/2019 1800.3333333333333
21/02/2019 2334.7166666666667
22/02/2019 2420.633333333333
23/02/2019 2215.233333333333
24/02/2019 2427.25
25/02/2019 1734.6149999999998
26/02/2019 2170.85
27/02/2019 2222.3166666666666
28/02/2019 1465.05
01/03/2019 2242.1
02/03/2019 1756.7166666666665
03/03/2019 1281.1666666666667
04/03/2019 1127.6333333333334
05/03/2019 1592.716666666667
06/03/2019 2138.883333333333
07/03/2019 1727.2
08/03/2019 2531.1833333333334
09/03/2019 2236.2166666666667
10/03/2019 2286.733333333333
11/03/2019 1738.6000000000001
12/03/2019 2279.733333333333
13/03/2019 2319.0333333333333
14/03/2019 1510.45
15/03/2019 2127.1833333333334
16/03/2019 2218.5666666666666
17/03/2019 667.1833333333334
18/03/2019 1887.7333333333333
19/03/2019 2059.9166666666665
20/03/2019 1525.8000000000002
21/03/2019 1419.9333333333334
22/03/2019 1913.7
23/03/2019 1463.1666666666667
24/03/2019 1435.2666666666667
25/03/2019 1127.9833333333333
26/03/2019 1742.6833333333334
27/03/2019 1877.6166666666668
28/03/2019 1252.0666666666666
29/03/2019 2164.2833333333333
30/03/2019 2401.8333333333335
31/03/2019 2297.5499999999997
01/04/2019 2210.766666666667
02/04/2019 2045.0166666666667
03/04/2019 1831.5
04/04/2019 1946.1333333333332
05/04/2019 1490.6166666666668
06/04/2019 1159.5333333333335
07/04/2019 1763.2166666666665
08/04/2019 1094.3833333333334
09/04/2019 1461.1833333333334
10/04/2019 1406.7666666666667
11/04/2019 1268.0666666666666
12/04/2019 1759.8666666666668
13/04/2019 2046.0666666666666
14/04/2019 1151.8500000000001
15/04/2019 1531.6499999999999
16/04/2019 1158.8999999999999
17/04/2019 1310.4
18/04/2019 1659.6166666666668
19/04/2019 2290.7166666666667
20/04/2019 1734.6666666666667
21/04/2019 2062.633333333333
22/04/2019 1621.4666666666665
23/04/2019 2082.6
24/04/2019 2073.6
25/04/2019 2017.3833333333332
26/04/2019 1721.8500000000001
27/04/2019 2144.5
28/04/2019 2036.0666666666666
29/04/2019 1999.6000000000001
30/04/2019 1853.2666666666664
01/05/2019 1944.1666666666667
02/05/2019 1838.6833333333334
03/05/2019 1036.9833333333333
04/05/2019 1468.3333333333333
05/05/2019 1921.7
06/05/2019 2127.2000000000003
07/05/2019 2127.75
08/05/2019 2117.4666666666667
09/05/2019 1939.6166666666668
10/05/2019 2103.3166666666666
11/05/2019 1993.0
12/05/2019 2124.5833333333335
13/05/2019 2110.9166666666665
14/05/2019 2006.1000000000001
15/05/2019 1723.3
16/05/2019 498.1566666666667
17/05/2019 891.6333333333332
18/05/2019 1661.45
19/05/2019 2096.25
20/05/2019 2045.5333333333335
21/05/2019 1805.3500000000001
22/05/2019 1893.0666666666666
23/05/2019 1880.9166666666667
24/05/2019 1569.6499999999999
25/05/2019 1984.25
26/05/2019 1943.5166666666667
27/05/2019 1938.0
28/05/2019 1836.8666666666668
29/05/2019 1945.75
30/05/2019 1953.8500000000001
31/05/2019 1767.3999999999999
01/06/2019 1661.6166666666668
02/06/2019 1894.5333333333335
03/06/2019 1522.9166666666667
04/06/2019 1805.3
05/06/2019 2023.2333333333333
06/06/2019 1923.5
07/06/2019 1866.0666666666666
08/06/2019 1925.0166666666667
09/06/2019 1904.3
10/06/2019 1911.5166666666667
11/06/2019 1913.3999999999999
12/06/2019 1828.0833333333333
13/06/2019 1785.3833333333332
14/06/2019 1823.1166666666668
15/06/2019 1387.6333333333332
16/06/2019 1744.5
17/06/2019 1927.5166666666667
18/06/2019 1885.0833333333333
19/06/2019 1887.8833333333332
20/06/2019 1869.3666666666668
21/06/2019 1885.6833333333334
22/06/2019 1868.4333333333334
23/06/2019 1897.7833333333335
24/06/2019 1822.0333333333335
25/06/2019 1343.395
26/06/2019 1821.6999999999998
27/06/2019 1840.1499999999999
28/06/2019 1813.5833333333333
29/06/2019 1002.2000000000002
30/06/2019 1832.5166666666667
01/07/2019 1881.7166666666665
02/07/2019 1885.4666666666665
03/07/2019 1660.1333333333332
04/07/2019 1835.0666666666666
05/07/2019 1804.7833333333335
06/07/2019 1769.6333333333334
07/07/2019 1880.05
08/07/2019 1852.8666666666668
09/07/2019 1875.55
10/07/2019 1925.5333333333335
11/07/2019 1881.2166666666665
12/07/2019 1862.95
13/07/2019 1877.95
14/07/2019 1875.3
15/07/2019 1837.2
16/07/2019 1654.7333333333333
17/07/2019 1798.6499999999999
18/07/2019 1813.45
19/07/2019 1876.4333333333334
20/07/2019 1871.8166666666666
21/07/2019 1720.3333333333333
22/07/2019 1812.3999999999999
23/07/2019 1531.7
24/07/2019 1226.7666666666667
25/07/2019 1918.6000000000001
26/07/2019 1788.5833333333333
27/07/2019 1838.1666666666667
28/07/2019 1582.1000000000001
29/07/2019 1856.8166666666666
30/07/2019 1889.3833333333332
31/07/2019 1802.0
01/08/2019 1929.25
02/08/2019 1834.0333333333335
03/08/2019 1932.2
04/08/2019 1916.8999999999999
05/08/2019 1534.0666666666666
06/08/2019 975.25
07/08/2019 1917.6833333333334
08/08/2019 2063.733333333333
09/08/2019 1884.2666666666667
10/08/2019 1814.0666666666666
11/08/2019 1893.9666666666665
12/08/2019 2072.2166666666667
13/08/2019 2084.7000000000003
14/08/2019 2125.6833333333334
15/08/2019 2107.8333333333335
16/08/2019 2106.65
17/08/2019 2015.0166666666667
18/08/2019 1965.4333333333334
19/08/2019 1978.5166666666667
20/08/2019 1909.2166666666665
21/08/2019 2004.6833333333334
22/08/2019 2090.5666666666666
23/08/2019 2005.2166666666665
24/08/2019 2065.883333333333
25/08/2019 2135.4166666666665
26/08/2019 2145.4
27/08/2019 2141.0333333333333
28/08/2019 2202.3166666666666
29/08/2019 1859.75
30/08/2019 2035.3666666666668
31/08/2019 2205.3333333333335
01/09/2019 2070.65
02/09/2019 1864.55
03/09/2019 2204.0499999999997
04/09/2019 2302.7999999999997
05/09/2019 2347.116666666667
06/09/2019 2239.4166666666665
07/09/2019 1917.2833333333335
08/09/2019 2280.1
09/09/2019 2314.616666666667
10/09/2019 2331.516666666667
11/09/2019 2381.266666666667
12/09/2019 2364.633333333333
13/09/2019 2380.733333333333
14/09/2019 2369.5
15/09/2019 2414.7166666666667

16/09/2019 2485.983333333333
17/09/2019 2409.733333333333
18/09/2019 2364.5
19/09/2019 2282.9500000000003
20/09/2019 1715.0833333333333
21/09/2019 2190.133333333333
22/09/2019 2302.3333333333335
23/09/2019 2549.8333333333335
24/09/2019 2562.6666666666665
25/09/2019 1757.25
26/09/2019 1321.3333333333333
27/09/2019 1866.5166666666667
28/09/2019 2146.5333333333333
29/09/2019 2441.75
30/09/2019 2007.05
01/10/2019 2566.0
02/10/2019 2809.3333333333335
03/10/2019 2759.6666666666665
04/10/2019 2755.1666666666665
05/10/2019 2670.3333333333335
06/10/2019 1684.4666666666665
07/10/2019 2104.016666666667
08/10/2019 2144.016666666667
09/10/2019 1744.966666666667
10/10/2019 2548.6666666666665
11/10/2019 1967.8333333333333
12/10/2019 2515.0
13/10/2019 2958.5
14/10/2019 2900.1666666666665
15/10/2019 2971.3333333333335
16/10/2019 2906.3333333333335
17/10/2019 2678.1666666666665
18/10/2019 2777.6666666666665
19/10/2019 2850.8333333333335
20/10/2019 2391.3333333333335
21/10/2019 1364.8833333333332
22/10/2019 1825.1333333333332
23/10/2019 2123.5333333333333

In [33]:
df_final

Empty DataFrame
Columns: [data, irradiacao_media]
Index: []